---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import ProfileCard from "../components/ProfileCard.astro";

import members from "../content/data/members.json";

const commMembers = members.sort((a, b) => {
	const nameA = a.name.toUpperCase(); // ignore upper and lowercase
	const nameB = b.name.toUpperCase(); // ignore upper and lowercase
	if (nameA < nameB) {
		return -1;
	}
	if (nameA > nameB) {
		return 1;
	}

	// names must be equal
	return 0;
});
---

<BaseLayout title="About | Miagao Valley" description="">
	<div class="stack gap-20 lg:gap-48" data-pagefind-ignore>
		<main class="wrapper stack gap-20 lg:gap-30">
			<div class="hero">
				<Hero title=" Meet our Community" tagline="" />
			</div>
			<div class="wrapper about">
				<section class="description">
					<h2 class="section-title">Vision</h2>
					<div class="content">
						<p>
							Miagao Valley envisions a community where students
							are eager to explore new ideas and technologies,
							take on responsibilities, and populate their
							portfolios with real and interesting projects to
							enhance their skills in programming and project
							management.
						</p>
					</div>
				</section>

				<section class="description">
					<h2 class="section-title">Mission</h2>
					<div class="content">
						<p>Miagao Valley aims to:</p>
						<ul>
							<li>
								To develop challenging yet attainable projects
								utilizing Computer Science concepts and
								technologies,
							</li>
							<li>
								To showcase and enhance the technical skills and
								creativity of its members,
							</li>
							<li>
								To encourage its members to manage projects,
								learn, lead, and help other students, and
							</li>
							<li>
								To enforce guidelines and standards for projects
								and contributions.
							</li>
						</ul>
					</div>
				</section>
			</div>
			<section class="section">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Members</h3>
					<p>
						Miagao Valley thrives thanks to the ongoing support of
						its community. Explore their social media and engage to
						be part of this amazing initiative!
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						<li>
							<ProfileCard
								imagePath="/src/assets/members/magbanua.jpg"
								name="Ezra Magbanua"
								githubLink="https://github.com/ezerssss"
								linkedInLink="https://www.linkedin.com/in/ezra-magbanua-a342b1239/"
							/>
						</li>
						{
							commMembers.map((member) => (
								<li>
									<ProfileCard
										imagePath={member.imagePath}
										name={member.name}
										githubLink={member.githubLink}
										linkedInLink={member.linkedInLink}
									/>
								</li>
							))
						}
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.description {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(ul) {
		list-style-type: lower-alpha;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.section {
		display: grid;
		gap: 2rem;
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.hero {
			padding-top: 5rem;
		}

		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		.description {
			display: contents;
			font-size: var(--text-lg);
		}

		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "gallery gallery gallery gallery";
			gap: 5rem;
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.gallery {
			grid-area: gallery;
		}
	}
</style>
