---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";

// import Pill from "../components/Pill.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Langauages from "../components/Langauages.astro";
import Statistics from "../components/Statistics.astro";
import Benefits from "../components/Benefits.astro";

// Content Fetching: List four most recent projects
const projects = (await getCollection("projects"))
	.sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf())
	.slice(0, 4);
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-30" data-pagefind-ignore>
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero gradient-animation">
				<div class="hero-text">
					<Hero
						title="Miagao Valley"
						tagline="We’re an open-source community led by Computer Science students at the University of the Philippines Visayas."
						align="start"
						color="white"
						gradient=""
					/>
				</div>
			</header>
		</div>

		<main class="wrapper stack gap-20 lg:gap-30">
			<section class="section left">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Our Community in Numbers</h3>
				</header>

				<div class="gallery">
					<Statistics />
				</div>
			</section>

			<section class="section">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Why Join Us?</h3>
				</header>

				<div class="gallery">
					<Benefits />
				</div>
			</section>

			<section class="section with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Our Projects</h3>
					<p>
						Take a look below at some of my featured projects from
						the past few years.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/projects/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section bg-variant languages">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Languages Used</h3>
					<p>
						Our projects utilize a diverse range of programming
						languages to build various compelling software and web
						applications. Take a look at some of the languages we
						work with:
					</p>
				</header>

				<div class="gallery">
					<Langauages />
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		color: white;
		padding: 5rem;

		border: 0;
		border-radius: 0.75rem;
		box-shadow: var(--shadow-sm);
	}

	.roles {
		display: none;
	}

	@media (min-width: 60em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			grid-template-rows: 0.5fr 1fr;
			height: 30rem;
			gap: 0;
		}

		.hero-text {
			grid-area: 2 / 1 / 3 / 2;
		}

		.hero img {
			grid-area: 1 / 2 / 3 / 3;
			object-fit: cover;
			height: 500px;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	/* ====================================================== */

	.languages {
		align-items: center;
		justify-items: center;
	}

	.section {
		display: grid;
		gap: 2rem;
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "gallery gallery gallery gallery";
			gap: 5rem;
		}

		.section.left {
			grid-template-areas: "header gallery gallery gallery";
		}

		.section.right {
			grid-template-areas: "gallery gallery gallery header";
		}

		.section.with-cta {
			grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.left h3,
		.left p {
			text-align: left;
		}

		.right h3,
		.right p {
			text-align: right;
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	@media (min-width: 60em) {
		.section.languages {
			grid-template-areas: "header header header gallery";
		}

		.languages h3,
		.languages p {
			text-align: left;
		}
	}
	/* ====================================================== */

	.mention-card {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

	/* ====================================================== */

	
</style>
