---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <form id="form" method="post" action="/api/test">
            <ul>
                <li>
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" required />
                </li>
                <li>
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" required />
                </li>
                <li>
                    <label for="course">Course: </label>
                    <input type="text" id="course" name="course" required />
                </li>
                <li>
                    <label for="yearLevel">Year Level: </label>
                    <input
                        type="number"
                        id="yearLevel"
                        name="yearLevel"
                        required
                    />
                </li>
                <li>
                    <label for="source">How did you hear about us?</label>
                    <input type="text" id="source" name="source" required />
                </li>
                <li>
                    <label for="involvementType"
                        >What type of involvement are you interested in?
                    </label>
                    <input
                        type="text"
                        id="involvementType"
                        name="involvementType"
                        required
                    />
                </li>
                <li>
                    <label for="skills"
                        >Do you have any specific skills or expertise you would
                        like to contribute?</label
                    >
                    <input type="text" id="skills" name="skills" required />
                </li>
                <li>
                    <label for="interests"
                        >Are there any areas where you would like to get
                        involved or learn more?
                    </label>
                    <input
                        type="text"
                        id="interests"
                        name="interests"
                        required
                    />
                </li>
                <li>
                    <label for="expectations"
                        >What are your expectations from Miagao Valley?
                    </label>
                    <input
                        type="text"
                        id="expectations"
                        name="expectations"
                        required
                    />
                </li>
                <li>
                    <label for="suggestions"
                        >Do you have any suggestions for programs or activities
                        you would like to see?
                    </label>
                    <input
                        type="text"
                        id="suggestions"
                        name="suggestions"
                        required
                    />
                </li>
                <li>
                    <label for="additionalInfo"
                        >Is there any additional information or comments you
                        would like to share?</label
                    >
                    <input type="text" id="additionalInfo" name="additionalInfo" required />
                </li>

                <li>
                    <button type="submit">Submit</button>
                </li>
            </ul>
        </form>
    </main>
</BaseLayout>
