---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
---

<BaseLayout
	title="Projects | Miagao Valley"
	description="Learn about our projects"
>
	<div class="stack gap-20" data-pagefind-body>
		<main class="wrapper stack gap-8">
			<Hero title="Our Projects" tagline="" align="start" />

			<div class="search-container">
				<div id="search"></div>

				<script>
					window.addEventListener("DOMContentLoaded", (event) => {
						// @ts-ignore
						new PagefindUI({
							element: "#search",
							showSubResults: true,
						});
					});
				</script>
			</div>

			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
