---
import Icon from "./Icon.astro";
---

<section class="box benefits">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="white" size="2.5rem" />
		<h2>Skills Development</h2>
		<p>
			Improve technical and project management benefits through through
			collaboration on projects and learning from other skilled community
			members.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="white" size="2.5rem" />
		<h2>Portfolio Building</h2>
		<p>
			Add compelling projects to your portfolio to attract future
			employers or clients.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4 gradient">
		<Icon icon="briefcase" color="white" size="2.5rem" />
		<h2>Networking Opportunities</h2>
		<p>
			Connect with fellow students, alumni, and mentors to gain insights
			and potential career connections.
		</p>
	</div>
</section>

<style>
	.box {
		border: 0;
		border-radius: 0.75rem;
		padding: 1.5rem;
		background: var(--gradient-accent);
		box-shadow: var(--shadow-sm);
	}

	.benefits {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.benefits h2 {
		font-size: var(--text-lg);
		color: var(--gray-900);
	}

	.benefits p {
		color: var(--gray-900);
	}

	@media (min-width: 53em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.benefits {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.benefits h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
