---
import Icon from "./Icon.astro";
import type { iconPaths } from "./IconPaths";

const currentYear = new Date().getFullYear();

const iconLinks: {
	label: string;
	href: string;
	icon: keyof typeof iconPaths;
}[] = [
	{
		label: "Instagram",
		href: "https://www.instagram.com/miagaovalley/",
		icon: "instagram-logo",
	},
	{
		label: "Twitter",
		href: "https://x.com/miagao_valley",
		icon: "twitter-logo",
	},
	{
		label: "Discord",
		href: "https://discord.gg/kzAKWghs",
		icon: "discord-logo",
	},
	{
		label: "GitHub",
		href: "https://github.com/Miagao-Valley",
		icon: "github-logo",
	},
];
---

<footer>
	<div class="group">
		<p>&copy; {currentYear} Miagao Valley</p>
	</div>

	<div class="socials">
		{
			iconLinks.map(({ href, icon, label }) => (
				<a href={href} class="social">
					<span class="sr-only">{label}</span>
					<Icon icon={icon} size="1.35em" />
				</a>
			))
		}
	</div>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	.social:hover,
	.social:focus {
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
