---
interface Props {
	title: string;
	tagline?: string;
	color?: string;
	align?: "start" | "center";
	gradient?: "" | "gradient";
}

const {
	align = "center",
	tagline,
	title,
	color = "transparent",
	gradient = "gradient",
} = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
	<div class="stack gap-2">
		<h1 style=`color: ${color};` class=`title ${gradient}`>
			{title}
		</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
		margin-top: 1rem;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-4xl);
		color: var(--gray-0);
	}

	.gradient {
		background: linear-gradient(
			150deg,
			var(--gradient-stop-1),
			var(--gradient-stop-2),
			var(--gradient-stop-3)
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	@media (min-width: 60em) {
		.hero {
			font-size: var(--text-lg);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
