<div class="languages-container">
    <div id="languages" style="width: 400px;"></div>
</div>

<script>
    import { Chart } from "chart.js/auto";
    import { languages } from "../content/data/githubStats.js";
    import { colors } from "../content/data/colors.js";

    Chart.defaults.font.family = "Public Sans";
    Chart.defaults.font.size = 14;

    function renderChart(
        label: string[],
        values: number[],
        container: Element,
    ) {
        const canvas = document.createElement("canvas");
        container.appendChild(canvas);

        const dataset = {
            labels: label,
            datasets: [
                {
                    data: values,
                    backgroundColor: colors,
                    hoverOffset: 4,
                    borderColor: "rgba(1, 1, 1, 0)",
                },
            ],
        };

        const chart = new Chart(canvas, {
            type: "pie",
            data: dataset,
        });

        return chart;
    }

    const langs: string[] = [];
    languages.forEach((lang) => {
        langs.push(lang.name);
    });

    const values: number[] = [];
    languages.forEach((lang) => {
        values.push(lang.value);
    });

    const container = document.querySelector("#languages")!;

    renderChart(langs, values, container);
</script>

<style>
    .languages-container {
        border-radius: 0.75rem;
        box-shadow: var(--shadow-sm);
        border: 1px solid var(--gray-800);
        background-color: var(--gray-999_40);
        padding: 2.5rem;
    }
</style>
