<div class="languages-container">
    <div id="languages"></div>
</div>

<script>
    import { Chart } from "chart.js/auto";
    import { languages } from "../content/data/githubStats.js";
    import { colors } from "../content/data/colors.js";

    Chart.defaults.font.family = "Public Sans";
    Chart.defaults.font.size = 13;

    const labels: string[] = [];
    languages.forEach((lang) => {
        labels.push(lang.name);
    });

    const values: number[] = [];
    languages.forEach((lang) => {
        values.push(lang.value);
    });

    const container = document.querySelector("#languages")!;
    const canvas = document.createElement("canvas");
    container.appendChild(canvas);

    const dataset = {
        labels,
        datasets: [
            {
                data: values,
                backgroundColor: colors,
                hoverOffset: 4,
                borderColor: "rgba(1, 1, 1, 0)",
            },
        ],
    };

    const chart = new Chart(canvas, {
        type: "pie",
        data: dataset,
        options: {
            maintainAspectRatio: false,
        },
    });
</script>

<style>
    .languages-container {
        border-radius: 0.75rem;
        box-shadow: var(--shadow-sm);
        border: 1px solid var(--gray-800);
        background-color: var(--gray-999_40);
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 20rem;
        width: 20rem;
    }

    @media (min-width: 50em) {
        .languages-container {
            padding: 0rem;
            height: 25rem;
            width: 30rem;
        }
    }
</style>
