<div id="search"></div>
<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        // @ts-ignore
        let search = new PagefindUI({
            element: "#search",
            showSubResults: true,
        });
        search.triggerFilters({ Category: ["Documentation", "Marketing"] });
    });
</script>
