---
import {
	numMembers,
	numProjects,
	numStars,
} from "../content/data/githubStats.js";
---

<section class="box statistics">
	<div class="stack gap-2 lg:gap-4">
		<h2 class="gradient">{numProjects}</h2>
		<p>Projects</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2 class="gradient">{numMembers}</h2>
		<p>Members</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2 class="gradient">{numStars}</h2>
		<p>Stars</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.statistics {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		text-align: center;
	}

	.statistics h2 {
		font-size: 5rem;
	}

	.gradient {
		background: var(--gradient-accent);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.statistics {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}
	}
</style>
